
.login-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form-container{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(100, 97, 97);
   background-color: rgb(231, 203, 92);
   padding: 30px;
   border-radius: 10px;
}

.login-label{
    margin-top: 10px;
    font-weight: bold;
}
.login-submit{
    margin-top: 10px;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
}
.login-submit:hover{
    background-color: rgb(14, 233, 14);
}

.login-input{
    border-radius: 5px;
    border: 0px;
    outline: none;
}